<odoo>
    <!-- Root menu -->
    <menuitem id="menu_sally_addons_root" name="Sally Addons " sequence="10" />

    <!-- Client action: Flower List -->
    <record id="action_sally_addons" model="ir.actions.client">
        <field name="name">Addons List</field>
        <field name="tag">sally_flowers.AddonsList</field>
    </record>

    <!-- Submenu: Flower List -->
    <menuitem id="menu_sally_addons_list"
        name="Addons List"
        parent="menu_sally_addons_root"
        action="action_sally_addons"
        sequence="1" />


</odoo>